*, html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, p, h1, h2, h3, h4, h5, h6, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

img {
  display: block;
  max-width: 100%;
}

select, option {
  text-decoration: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/roboto-condensed-bold.woff2") format("woff2"), url("../fonts/roboto-condensed-bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.woff2") format("woff2"), url("../fonts/roboto-bold.woff2") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular.woff2") format("woff2"), url("../fonts/roboto-regular.woff2") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Roboto';
}

.header {
  -webkit-box-shadow: 0px 4px 12px rgba(18, 33, 63, 0.05);
          box-shadow: 0px 4px 12px rgba(18, 33, 63, 0.05);
}

.header-info {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7B94B0;
}

.header-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-r {
  margin-left: auto;
  padding-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.city-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city-select__group {
  padding-left: 7px;
}

.city-select__group select {
  font-size: 14px;
  color: #7B94B0;
  -webkit-text-decoration: underline dashed #7B94B0;
          text-decoration: underline dashed #7B94B0;
  text-underline-offset: 5px;
  line-height: 22px;
}

.info-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 68px;
}

.info-menu__item {
  margin-right: 16px;
}

.info-menu__item:last-of-type {
  margin-right: 0;
}

.info-menu__item a {
  color: #7B94B0;
}

.info-menu__item-img {
  margin-left: 1px;
}

.info-menu__item-img svg {
  -webkit-transition: .4s;
  transition: .4s;
}

.info-menu__dropdown {
  position: relative;
}

.info-menu__dropdown:hover .info-menu__dropdown-group {
  display: block;
}

.info-menu__dropdown:hover .info-menu__item-img svg {
  -webkit-transform: translateY(-2px) rotate(0.5turn);
          transform: translateY(-2px) rotate(0.5turn);
}

.info-menu__dropdown-group {
  display: none;
  position: absolute;
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 46px;
}

.callback__group {
  margin: -1px 0 0 8px;
}

.callback__group li a {
  font-weight: 700;
  color: #7B94B0;
}

.callback__dropdown {
  display: none;
  position: absolute;
}

.callback__item-img svg {
  -webkit-transition: .4s;
  transition: .4s;
}

.callback__item:hover .callback__dropdown {
  display: block;
}

.callback__item:hover .callback__item-img svg {
  -webkit-transform: translateY(-2px) rotate(0.5turn);
          transform: translateY(-2px) rotate(0.5turn);
}

.language {
  font-size: 12px;
  text-transform: uppercase;
}

.language__item {
  margin-right: 4px;
}

.language__item:last-of-type {
  margin-right: 0;
}

.language__link {
  color: #7B94B0;
}

.language__link--active {
  font-weight: 700;
  color: #202454;
  padding: 2px 4px 2px 3px;
  background-color: #F4F5F8;
  border-radius: 3px;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 0 0;
}

.header-menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header-menu__item-img svg {
  -webkit-transition: .5s;
  transition: .5s;
}

.header-menu__item:last-of-type {
  margin-right: 0;
  margin-left: 2px;
}

.header-menu__item a {
  font-size: 18px;
  font-weight: 700;
  color: #202454;
}

.header-menu__item-dropdown:hover .header-menu__dropdown-group {
  display: block;
}

.header-menu__item-dropdown:hover .header-menu__item-img svg {
  -webkit-transform: translateY(-3px) rotate(0.5turn);
          transform: translateY(-3px) rotate(0.5turn);
}

.header-menu__item-img {
  margin-left: 3px;
}

.header-menu__item-img svg {
  padding-bottom: 1px;
}

.header-menu__dropdown-group {
  display: none;
  position: absolute;
}

.header-action {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px 0 0;
}

.search__form span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  width: 50px;
  height: 20px;
  border: none;
}

.search__input, .search__input::-webkit-input-placeholder {
  font-size: 16px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  color: #202454;
}

.search__input, .search__input:-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  color: #202454;
}

.search__input, .search__input::-ms-input-placeholder {
  font-size: 16px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  color: #202454;
}

.search__input, .search__input::placeholder {
  font-size: 16px;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 700;
  color: #202454;
}

.search__input:focus {
  border: none;
  outline: none;
}

.search__button {
  margin-right: 7px;
}

.action-menu {
  margin-left: 44px;
}

.action-menu__item {
  margin-right: 12px;
}

.action-menu__item-favourite {
  margin: 0 10px 0 4px;
}

.action-menu__item-basket {
  position: relative;
}

.action-menu__item:last-of-type {
  margin-right: 0;
}

.action-menu__basket-count {
  position: absolute;
  top: -16px;
  right: -15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #E77E42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.deals-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 44px;
}

.deals-head__title {
  margin-top: 2px;
}

.deals-head__title h2 {
  font-family: 'Roboto';
  font-size: 32px;
  font-weight: 400;
  color: #202454;
}

.deals-filter {
  padding: 9px 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deals-filter__item {
  margin-right: 3px;
}

.deals-filter__item:last-of-type {
  margin-right: 0;
}

.deals-filter__button {
  font-size: 14px;
  font-weight: 700;
  color: #7B94B0;
  background-color: transparent;
  padding: 6px 12px 4px 9px;
  border-radius: 20px;
  -webkit-text-decoration: underline dashed #7B94B0;
          text-decoration: underline dashed #7B94B0;
  text-underline-offset: 4px;
  line-height: 22px;
  -webkit-transition: .4s;
  transition: .4s;
}

.deals-filter__button:hover {
  color: #202454;
  -webkit-text-decoration: underline dashed #202454;
          text-decoration: underline dashed #202454;
}

.deals-filter__button--active {
  color: #E77E42;
  background-color: #FDF2EC;
  border-radius: 20px;
  text-decoration: none;
}

.deals-filter__button--active:hover {
  text-decoration: none;
}

.deals-filter-switch {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 9px;
}

.deals-filter-switch__prev {
  margin-right: 8px;
}

.deals-filter-switch__prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.deals-filter-switch__prev--first button {
  background-color: #E0E0E0;
  cursor: default;
}

.deals-filter-switch__next--last button {
  background-color: #E0E0E0;
  cursor: default;
}

.deals-filter-switch__button {
  background-color: #E77E42;
  border-radius: 3px;
  padding: 9px 11px 6px 12px;
}

.deals-slider {
  padding-top: 31px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deals-slider__item {
  width: 260px;
  margin: 0 auto;
}

.swiper-wrapper {
  padding-bottom: 58px;
}

.swiper-pagination-bullet-active {
  background-color: #026C00 !important;
}

.deal-card {
  width: 260px;
}

.deal-card:hover .deal-card__top {
  border-color: #3A9EFD;
}

.deal-card:hover .deal-card__title {
  color: #3A9EFD;
}

.deal-card__top {
  height: 260px;
  padding: 29px 0;
  border: 1px solid #E0E0E0;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.deal-card__labels {
  position: absolute;
  left: 15px;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.deal-card__label {
  font-family: "Roboto Condensed";
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 7px 3px 6px;
  margin-bottom: 6px;
}

.deal-card__label:last-of-type {
  margin-bottom: 0;
}

.deal-card__label-top {
  background-color: #8D58E3;
}

.deal-card__label-sale {
  background-color: #E95471;
  padding-right: 3px;
  padding-bottom: 2px;
}

.deal-card__label-new {
  background-color: #3BC5AD;
  padding-right: 6px;
}

.deal-card__info {
  padding: 16px 0 0 0;
}

.deal-card__title {
  font-size: 14px;
  font-weight: 400;
  color: #202454;
  line-height: 16px;
  min-height: 58px;
  -webkit-transition: .5s;
  transition: .5s;
}

.deal-card__rating {
  margin-top: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.deal-card__rating-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deal-card__rating-stars svg {
  margin-right: 2px;
}

.deal-card__reviews-count {
  color: #B6B7C4;
  padding-left: 2px;
  font-size: 12px;
  font-weight: 400;
}

.deal-card__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  padding-top: 16px;
}

.deal-card__wholesale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deal-card__wholesale-arrow {
  background-color: #E95471;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

.deal-card__wholesale-arrow svg {
  margin-top: 1px;
  margin-left: 1px;
}

.deal-card__wholesale-price {
  font-size: 15px;
  font-weight: 700;
  color: #7B94B0;
}

.deal-card__price {
  padding-top: 1px;
}

.deal-card__price-old {
  display: inline;
  font-size: 13px;
  font-weight: 400;
  color: #7B94B0;
  position: relative;
}

.deal-card__price-old:after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  top: 53%;
  background-color: #7B94B0;
}

.deal-card__price-current {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #202454;
  margin-left: 2px;
}

.deal-card__add {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 4px rgba(84, 143, 199, 0.15);
          box-shadow: 0px 2px 4px rgba(84, 143, 199, 0.15);
  position: absolute;
  right: 0;
  top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.deal-card__add svg {
  -webkit-transition: .5s;
  transition: .5s;
}

.deal-card__add:hover {
  -webkit-box-shadow: 0px 2px 10px rgba(84, 143, 199, 0.15);
          box-shadow: 0px 2px 10px rgba(84, 143, 199, 0.15);
}

.deal-card__add:hover svg {
  stroke: #E77E42;
}

.useful-block {
  padding: 10px 0 0 30px;
}

.useful-block .offset-1 {
  margin-left: 7.3% !important;
}

.search-card {
  background-color: rgba(2, 108, 0, 0.3);
  border-radius: 30px;
  text-align: center;
  margin: 5px 2px 0 0;
  padding: 76px 40px 80px 40px;
}

.search-card__subtitle {
  font-family: 'Roboto Condensed';
  font-size: 14px;
  font-weight: 700;
  color: #A4563E;
  text-transform: uppercase;
}

.search-card__logo {
  padding: 11px 0 0 2px;
}

.search-card__title {
  font-size: 44px;
  color: #275420;
  font-weight: 700;
  margin-top: -14px;
}

.search-card__text {
  padding: 13px 0 33px 0;
  color: #202454;
}

.search-card-tile {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search-card-tile__item {
  margin-bottom: 10px;
  -webkit-transition: .5s;
  transition: .5s;
}

.search-card-tile__item:hover {
  -webkit-box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
          box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.5);
}

.search-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 15px 30px 14px 32px;
  background-color: #E77E42;
  outline: 1px solid transparent;
  border-radius: 3px;
  -webkit-transition: .7s;
  transition: .7s;
}

.search-card__link svg {
  margin-left: 10px;
  -webkit-transition: .7s;
  transition: .7s;
}

.search-card__link:hover {
  outline-color: #fff;
}

.search-card__link:hover svg {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.search-card__link:focus {
  outline: 1px solid black;
}

.blog__title {
  padding-left: 7px;
  font-size: 44px;
  font-weight: 700;
  color: #202454;
}

.blog-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-filter__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0 0 0;
}

.blog-filter__item:last-of-type {
  margin-right: 0;
}

.blog-filter__button {
  font-weight: 700;
  color: #7B94B0;
  font-size: 14px;
  -webkit-transition: .5s;
  transition: .5s;
}

.blog-filter__button:hover {
  color: #202454;
}

.blog-filter__follow {
  padding-bottom: 1px;
}

.blog-filter__link {
  font-weight: 700;
  font-size: 12px;
  color: #E77E42;
  padding: 6px 21px 8px 20px;
  border: 1px solid #E77E42;
  border-radius: 3px;
  -webkit-transition: .4s;
  transition: .4s;
}

.blog-filter__link:hover {
  background-color: #E77E42;
  color: #fff;
}

.blog-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.blog-card {
  width: 395px;
  margin-bottom: 49px;
}

.blog-card:hover .blog-card__img {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.blog-card:hover .blog-card__text {
  color: #000;
}

.blog-card:hover .blog-card__date {
  color: #202454;
}

.blog-card:hover .blog-card__play-img svg {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.blog-card__top {
  display: block;
  position: relative;
}

.blog-card__img {
  -webkit-transition: .5s;
  transition: .5s;
}

.blog-card__img img {
  border-radius: 12px;
}

.blog-card__play-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.blog-card__labels {
  position: absolute;
  z-index: 1;
  top: 16px;
  left: 16px;
}

.blog-card__label {
  font-family: 'Roboto Condensed';
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  padding: 4px 7px 3px 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5px;
}

.blog-card__label:last-of-type {
  margin-bottom: 0;
}

.blog-card__label--news {
  background-color: red;
}

.blog-card__label--useful {
  background-color: #8D58E3;
}

.blog-card__label--video {
  background-color: #3BC5AD;
}

.blog-card__label--review {
  background-color: #3A9EFD;
}

.blog-card__label--lifehack {
  background-color: #FFAF00;
}

.blog-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 0 0 0;
}

.blog-card__date {
  color: #7B94B0;
  -webkit-transition: .5s;
  transition: .5s;
}

.blog-card__day {
  font-size: 32px;
  font-weight: 700;
}

.blog-card__month {
  font-size: 13px;
  margin-top: -3px;
}

.blog-card__text {
  font-size: 20px;
  color: #202454;
  margin: 3px 0 0 43px;
  line-height: 23px;
  -webkit-transition: .2s;
  transition: .2s;
}

.benefits {
  padding-top: 72px;
}

.benefits__inner {
  border-top: 1px solid rgba(136, 141, 146, 0.3);
  border-bottom: 1px solid rgba(136, 141, 146, 0.3);
  padding: 32px 0;
}

.benefits-item {
  padding: 0 30px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits-item__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 2px 8px rgba(84, 143, 199, 0.2);
          box-shadow: 0px 2px 8px rgba(84, 143, 199, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits-item__text {
  font-size: 14px;
  color: #202454;
  line-height: 20px;
  padding-top: 16px;
  text-align: center;
}

.seo__inner {
  padding: 75px 0 20px 15px;
  height: 400px;
}

.seo__title, .seo__subtitle {
  display: inline-block;
  color: #202454;
  font-weight: 700;
}

.seo__title {
  font-size: 40px;
  margin-bottom: 7px;
}

.seo__subtitle {
  font-size: 24px;
  margin: 29px 0 0 0;
}

.seo__text {
  font-size: 13px;
  color: #7B94B0;
  line-height: 21px;
  margin-top: 15px;
}

.seo__text:last-of-type {
  margin-top: 15px;
}

.seo__text--hidden {
  display: inline-block;
  height: 42px;
  overflow: hidden;
  position: relative;
}

.seo__text--hidden::after {
  content: '';
  display: block;
  width: 100%;
  height: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  position: absolute;
  top: 3px;
}

.seo__text--visible {
  overflow: visible;
}

.seo__button {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #E77E42;
  padding: 0;
  -webkit-text-decoration: underline dashed transparent;
          text-decoration: underline dashed transparent;
  text-underline-offset: 5px;
  line-height: 22px;
  -webkit-transition: .5s;
  transition: .5s;
}

.seo__button:hover {
  -webkit-text-decoration: underline dashed #E77E42;
          text-decoration: underline dashed #E77E42;
}

.involve {
  margin-top: 97px;
  background-color: rgba(2, 108, 0, 0.4);
}

.involve__inner {
  position: relative;
}

.involve__img-dog {
  position: absolute;
  bottom: 0;
}

.involve__img-cat {
  position: absolute;
  bottom: 0;
}

.involve-content {
  padding: 31px 40px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.involve-content__text {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #202454;
  text-align: center;
}

.involve-content__registration {
  display: block;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  background-color: #E77E42;
  outline: 1px solid transparent;
  border-radius: 3px;
  padding: 15px 33px 14px 32px;
  margin: 13px 0 0 1px;
  -webkit-transition: .6s;
  transition: .6s;
}

.involve-content__registration:hover {
  color: #E77E42;
  background-color: #fff;
  outline: 1px solid #E77E42;
}

.footer {
  background-color: #245420;
  padding: 56px 0 0 30px;
}

.footer * {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

.footer-main {
  padding-top: 16px;
  padding-bottom: 35px;
}

.footer-logo__caption {
  padding: 5px 0 0 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .4s;
  transition: .4s;
}

.footer-logo__caption:hover {
  color: #fff;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 0;
}

.footer-social__item {
  margin-right: 14px;
}

.footer-social__item:last-of-type {
  margin-right: 0;
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-social__link:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer-communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 0 0 3px;
}

.footer-communication-chat, .footer-communication-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-communication-chat svg, .footer-communication-message svg {
  -webkit-transition: .5s;
  transition: .5s;
}

.footer-communication-chat:hover svg, .footer-communication-message:hover svg {
  fill: #fff;
}

.footer-communication-chat__text, .footer-communication-message__text {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  padding: 6px 0 0 15px;
}

.footer-communication-chat {
  margin-right: 47px;
}

.footer-communication-message {
  margin-right: -3px;
  padding-top: 1px;
}

.footer-communication-message__text {
  padding: 5px 0 0 18px;
}

.footer-terms {
  padding-top: 48px;
}

.footer-terms-list__item {
  margin-bottom: 9px;
}

.footer-terms-list__item:last-of-type {
  margin-bottom: 0;
}

.footer-firm-list__title, .footer-customer-list__title {
  display: block;
  margin-bottom: 21px;
  font-size: 20px;
  color: #fff;
}

.footer-firm-list__item, .footer-customer-list__item {
  margin-bottom: 9px;
}

.footer-firm-list__item:last-of-type, .footer-customer-list__item:last-of-type {
  margin-bottom: 0;
}

.footer-contacts__title {
  font-size: 20px;
  color: #fff;
}

.footer-services {
  padding: 21px 0 0 0;
}

.footer-phone__subtitle {
  color: #fff;
}

.footer-phone__link {
  display: block;
  margin: 15px auto 0 auto;
  font-family: 'Roboto Condensed';
  font-size: 32px;
  font-weight: 700;
  color: #10e17d;
  line-height: 37px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-phone__text {
  color: rgba(255, 255, 255, 0.6);
  padding: 7px 0 21px 0;
}

.footer-mail__text {
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail__link {
  color: #fff;
}

.footer-bottom {
  margin: 0 16px 0 1px;
}

.footer-bottom__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1px;
  padding: 16px 0 28px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-pay__item {
  margin-right: 27px;
}

.footer-pay__item:last-of-type {
  margin-right: 0;
  margin-left: -12px;
}

.footer-pay__visa {
  fill: url(#visa-gradient);
}

.footer-development {
  margin-left: auto;
  padding-top: 3px;
}

.footer-development__link {
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-left: 3px;
}

.footer-terms-list__link, .footer-firm-list__link, .footer-customer-list__link {
  -webkit-transition: .4s;
  transition: .4s;
}

.footer-terms-list__link:hover, .footer-firm-list__link:hover, .footer-customer-list__link:hover {
  color: #fff;
}

.footer .offset-1 {
  margin-left: 8%;
}

.to-top {
  margin: 1px 0 0 -8px;
}

.to-top__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.to-top__text {
  font-size: 13px;
  -webkit-transition: .5s;
  transition: .5s;
}

.to-top__img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -1px 0 0 16px;
  -webkit-transition: .5s;
  transition: .5s;
}

.to-top__img svg {
  -webkit-transition: .5s;
  transition: .5s;
}

.to-top:hover .to-top__text {
  color: #fff;
}

.to-top:hover .to-top__img {
  background-color: #fff;
}

.to-top:hover .to-top__img svg {
  stroke: #E77E42;
}

@media (max-width: 700px) {
  body {
    position: relative;
  }
  .header {
    height: 80px;
    background-color: #2C9323;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container {
    max-width: 650px;
  }
  .header-info, .header-main {
    display: none;
  }
  .header-mob {
    padding: 0 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .action-menu {
    margin: 0 5px 0 0;
  }
  .deals-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0 15px 0;
  }
  .deals-head__title {
    margin: 0;
  }
  .deals-head__title h2 {
    font-size: 25px;
    text-align: center;
  }
  .deals-filter {
    padding: 15px 0 5px 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .deals-filter__item {
    margin: 0;
  }
  .deals-filter__button {
    font-size: 12px;
  }
  .deals-filter-switch {
    display: none;
  }
  .deals-slider {
    padding: 10px 0 20px 0;
  }
  .useful-block {
    padding: 20px 0;
  }
  .search-card {
    margin: 0;
    padding: 30px 10px;
    border-radius: 15px;
  }
  .search-card-tile {
    padding-bottom: 20px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .search-card-tile__tile {
    margin-bottom: 13px;
  }
  .search-card__title {
    font-size: 30px;
  }
  .search-card__text {
    font-size: 15px;
    padding: 15px 0 20px 0;
  }
  .search-card__link {
    font-size: 14px;
  }
  .blog {
    position: relative;
    padding: 50px 0 0 0;
  }
  .blog__title {
    padding: 0;
    font-size: 26px;
    text-align: center;
  }
  .blog-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-filter__group {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .blog-filter__item {
    margin: 4px 0;
  }
  .blog-filter__button {
    font-size: 13px;
  }
  .blog-filter__follow {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .blog-tile {
    padding: 25px 0 35px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-card__text {
    margin: 0;
    padding: 5px 0 0 10px;
    font-size: 18px;
  }
  .benefits {
    padding: 40px 0 0 0;
  }
  .benefits-item {
    margin: 20px 0;
  }
  .seo {
    text-align: center;
  }
  .seo__inner {
    padding: 30px 0;
    height: auto;
  }
  .seo__title {
    font-size: 28px;
  }
  .seo__subtitle {
    font-size: 22px;
  }
  .seo__text--hidden {
    height: 125px;
  }
  .seo__text--hidden::after {
    height: 50px;
    top: 75px;
  }
  .seo__button {
    margin: 40px auto 0 auto;
  }
  .involve {
    margin: 0;
    overflow: hidden;
  }
  .involve__img-cat {
    z-index: 1;
    opacity: .2;
    right: -60px;
  }
  .involve__img-dog {
    z-index: 1;
    opacity: .2;
    left: -45px;
  }
  .involve-content {
    padding: 45px 0;
  }
  .involve-content__text, .involve-content__registration {
    z-index: 2;
  }
  .involve-content__text {
    font-size: 21px;
  }
  .involve-content__registration {
    margin-top: 40px;
  }
  .footer {
    padding: 30px 0 0 0;
  }
  .footer-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px 0;
  }
  .footer-communication {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-communication-chat {
    margin: 0 15px 20px 0;
  }
  .footer-terms {
    padding: 15px 0 30px 0;
  }
  .footer-terms-list {
    text-align: center;
  }
  .footer-terms-list__item {
    margin-bottom: 15px;
  }
  .footer-firm-list, .footer-customer-list {
    text-align: center;
  }
  .footer-firm-list__title, .footer-customer-list__title {
    cursor: pointer;
    margin: 0 auto 20px auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .footer-firm-list__group, .footer-customer-list__group {
    display: none;
    margin-top: 10px;
  }
  .footer-bottom {
    margin: 0;
  }
  .footer-bottom__inner {
    padding-top: 25px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-development {
    margin: 0;
    padding-top: 20px;
  }
  .footer-contacts {
    margin-left: 0;
    text-align: center;
  }
  .to-top {
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
  .to-top__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .to-top__img {
    margin: 0;
  }
}

@media (min-width: 701px) and (max-width: 1199px) {
  body {
    position: relative;
  }
  .header-mob {
    display: none;
  }
  .header-info {
    padding: 10px 0;
  }
  .header-l {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-r {
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-main {
    padding: 15px 0 0 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .header-logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-action {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: -40px 0 0 auto;
  }
  .header-menu {
    margin: 0 0 20px 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-menu__item {
    margin: 15px 30px 0 0;
  }
  .info-menu {
    margin-left: 0;
  }
  .callback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin: 0 20px 0 0;
  }
  .callback__group {
    margin: 0;
  }
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .language__item {
    margin: 5px 0 0 0;
  }
  .language__item:first-of-type {
    margin: 0;
  }
  .deals-head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .deals-filter {
    padding: 30px 0 20px 0;
  }
  .deals-filter-switch {
    display: none;
  }
  .search-card {
    padding: 50px 40px;
  }
  .search-card-tile__item {
    margin-bottom: 30px;
  }
  .useful-block {
    padding: 10px 0 0 0;
  }
  .blog {
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
  }
  .blog-filter__follow {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .blog-tile {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-card {
    margin-top: 20px;
  }
  .blog-card:first-of-type {
    margin-top: 0;
  }
  .seo__inner {
    height: auto;
  }
  .involve__inner {
    padding: 10px 0 30px 0;
  }
  .involve__img {
    z-index: 1;
    opacity: .6;
  }
  .involve-content__text, .involve-content__registration {
    z-index: 2;
  }
  .footer {
    padding: 0;
  }
  .footer-top {
    padding-top: 20px;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-logo__caption {
    margin: 0 auto;
  }
  .footer-social {
    padding: 30px 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-social__item {
    margin: 0;
  }
  .footer-communication {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer-communication-chat {
    margin-top: 0;
  }
  .footer-main {
    padding-top: 0;
  }
  .footer-terms {
    padding: 30px 0;
  }
  .footer-terms-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-firm-list__title, .footer-customer-list__title, .footer-contacts {
    text-align: center;
  }
  .footer-firm-list__group, .footer-customer-list__group {
    text-align: left;
  }
  .to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .callback {
    margin: 0 40px 0 0;
  }
  .language {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .language__item {
    margin: 0 5px;
  }
  .search-card-tile {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .search-card-tile__item {
    margin: 20px 20px;
  }
  .blog-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  body {
    position: unset;
  }
  .header-menu {
    margin: 15px 0 30px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-menu {
    margin-left: 50px;
  }
  .callback {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .callback__group {
    margin: 0 0 0 10px;
  }
  .search-card-tile__item {
    margin: 0;
  }
  .blog-tile {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .blog-card {
    margin: 0 0 50px 0;
  }
  .involve-content {
    padding: 40px 40px 15px 40px;
  }
  .footer-terms {
    padding: 38px 0 0 0;
  }
  .footer-terms-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-social {
    padding: 0;
  }
  .footer-communication {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-firm-list__title, .footer-customer-list__title, .footer-contacts {
    margin: 0;
    text-align: left;
  }
  .footer-firm-list__group, .footer-customer-list__group {
    margin-top: 10px;
  }
  .to-top {
    position: unset;
    margin: 0;
  }
  .to-top__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .to-top__img {
    margin: 0 0 5px 0;
  }
}

@media (min-width: 1200px) {
  .header-mob {
    display: none;
  }
  .header-info {
    padding: 10px 0;
  }
  .header-main {
    padding: 20px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-menu {
    margin: 0 0 0 20px;
  }
  .header-menu__item {
    margin-right: 20px;
  }
  .best-deals {
    padding-top: 40px;
  }
  .deals-head {
    padding: 0;
  }
  .blog {
    position: relative;
    text-align: center;
    padding-top: 50px;
  }
  .blog-filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-filter__item {
    margin-right: 30px;
  }
  .blog-filter__follow {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .blog-tile {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 40px 0 20px 0;
  }
  .involve-content {
    padding: 30px 0;
  }
  .to-top {
    margin-left: auto;
  }
}

@media (min-width: 1400px) {
  .header {
    -webkit-box-shadow: 0px 4px 12px rgba(18, 33, 63, 0.05);
            box-shadow: 0px 4px 12px rgba(18, 33, 63, 0.05);
  }
  .header .container {
    max-width: 98%;
    padding: 0 7px 0 21px;
  }
  .blog {
    padding-top: 0;
  }
}

@media (min-width: 1900px) {
  .header {
    padding: 10px 0 0 0;
  }
  .header-main {
    padding: 20px 0 6px 0;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-info {
    padding: 0;
  }
  .header-menu {
    margin: 3px 0 0 96px;
  }
  .header-menu__item {
    margin-right: 39px;
  }
  .deals-filter-switch {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .useful-block {
    padding: 10px 0 0 0;
  }
  .search-card {
    margin: 5px -13px 0 15px;
  }
  .blog {
    text-align: left;
    position: unset;
  }
  .blog-filter {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .blog-filter__item {
    margin-right: 5px;
  }
  .blog-filter__follow {
    position: relative;
    left: 0;
    -webkit-transform: none;
            transform: none;
    margin-left: auto;
  }
  .blog-tile {
    padding: 46px 0 0 7px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .involve-content {
    padding: 31px 43px 32px 33px;
  }
  .involve__img-dog {
    left: 17.88%;
  }
  .involve__img-cat {
    left: 31.59%;
  }
  .footer-top {
    padding: 0 13px 0 0;
  }
  .footer-social {
    margin-left: -1px;
  }
  .footer-communication {
    padding: 9px 0 0 0;
  }
  .footer-main {
    padding-right: 19px;
  }
  .footer-firm-list__group, .footer-customer-list__group {
    margin-top: 21px;
  }
  .footer-firm-list__title, .footer-customer-list__title {
    margin: 0;
  }
  .to-top__link {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin: 1px 2px 0 0;
  }
  .best-deals {
    padding-top: 44px;
  }
  .best-deals .container {
    padding-left: var(--bs-gutter-x, 1.7rem);
  }
  .benefits .container {
    padding-left: var(--bs-gutter-x, 1.69rem);
  }
}
/*# sourceMappingURL=style.css.map */